/* set default body styles */
body {
  position: relative;
  min-height: 100%;
  background-color: $white;
  color: $grey-blue;
  font-family: $default-fonts;
  font-size: 100%;
  line-height: normal;
  text-size-adjust: 100%;
}
/* default class */
.wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  max-width: 100%;
  min-height: 100vh;
}
/* app */
.app {
  display: block;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  min-height: 1px;
}
/* container */
.container {
  display: block;
  box-sizing: border-box;
  width: calc(100% - ($container-gap * 2));
  max-width: $container-width;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  @include clearfix;
  @media (max-width: 992px) {
    padding: 0 10px;
    width: auto;
  }
  &--fluid {
    max-width: 100%;
  }
}
.btn {
  width: 107px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center; 
  color: $white;   
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  border-radius: 4px;
}
.input-stl {
  height: 42px;
  color: $dark-blue;
  border-radius: 4px;
  &:focus-visible {
    outline: none;
}
}
.text {
	color: $white;
	font-size: 13px;
	line-height: 17px;
	font-weight: 400;
}
// slider
.swiper {
  width: 100%;
  height: 473px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
.slider {
  position: relative;
  &__block {
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 82px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__subtitle{
    font-size: 36px;
    line-height: 38px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__title{
    font-size: 48px;
    line-height: 55px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 23px;
    @media (max-width: 992px) {
      font-size: 36px;
      line-height: 40px;
      white-space: nowrap;
    }
  }
  &__link{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__box {
    position: absolute;
    width: 347px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 126px;
    z-index: inherit;
    @media (max-width: 576px) {
      display: none;
    }
    .swiper-pagination {
      width: 253px;
      height: 33px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #3B4D6A;
      opacity: 0.5;
      border-radius: 4px;
      border: 1px solid #000000;
      top: 50%;
      transform: translateY(-50%);
      left: 48px;
    }
    .swiper-pagination-bullet {
      width: 26px;
      height: 26px;
      background: none;
      color: $white;
      font-size: 18px;
      line-height: 20px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .swiper-pagination-bullet-active {
      color: #3B4D6A;
      background: $white;
    }
    .swiper-button-next,.swiper-button-prev{
      color: $white;
      width: 39px;
      height: 33px;
      background: #3B4D6A;
      opacity: 0.5;
      border-radius: 4px;
      top: 5px;
      @include clearfix;
    }
    .swiper-button-next {
      margin-right: -8px;
      &::before{
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 7px 9px 7px;
        border-color: transparent transparent $white transparent;
        transform: rotate(90deg);
      }
    }
    .swiper-button-prev {
      margin-left: -8px;
      &::before {
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 7px 9px 7px;
        border-color: transparent transparent $white transparent;
        transform: rotate(-90deg);
      }
    }
  }
}
// content
.shop {
  padding-bottom: 30px;
  .container {
    display: flex;
    padding: 24px 20px;
    background: $white;
  }
  &__holder{
    position: relative;
    margin-top: -96px;
    z-index: 2;
  }
  &__aside {
    max-width: 176px;
    width: 100%;
    margin-right: 13px;
    padding-top: 50px;
    @media (max-width: 576px) {
      display: none;
    }
  }
  &__aside-box {
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 20px;
  }
  &__aside-title {
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__aside-banner {
    img {
      display: block;
      width: 100%;
    }
  }
  &__aside-list-item {
    transition: 0.3s;
    .aside-list-link:hover {
      border-bottom: 1px solid $dark-blue;
    }
  }
  &__main {
    max-width: 764px;
    width: 100%;
  }
  &__main-list {
    display: flex;
    width: 290px;
    justify-content: space-between;
    margin-left: auto;
    margin-bottom: 24px;
  }
  .list-item-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    text-align: center;
    width: 76px;
    height: 28px; 
    border-radius: 4px; 
    transition: 0.3s;
    &:hover {
      background: $grey-blue;
      color: $white;
    }  
    &:active {
      background: $grey-blue;
      color: $white;
    }  
  }
  &__main-card {
    display: flex;
    flex-wrap: wrap;
  }
  &__main-card-item {
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
    @media (max-width: 992px) {
      width: 50%;
    }
    @media (max-width: 576px) {
      width: 100%;
    }
    .item-img {
      margin-bottom: 5px;
      img {
        display: block;
        width: 100%;
      }
    }
    .item-title {
      font-size: 11px;
      line-height: 15px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    .item-price {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 7px;
    }
    .item-text {
      font-weight: 400;
      font-size: 11px;
      line-height: 16px;
      color: #FD484A;
    }
  }
}
.m-b-40 {
  margin-bottom: 40px;
}
.active {
  background: $grey-blue;
  color: $white;
}  