/* mixins */

@mixin clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}
@mixin alignment {
  display: flex;
  justify-content: center;
  align-items: center;
}
