/* vars */

$images: "../images/";

/* fonts */

$default-fonts: "Arial";
$breakpoints: (
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1440px,
);

/* container size/gap */

$container-gap: 20px;
$container-width: 1000px;

/* colors */

$white: #fff;
$grey-blue: #3B4D6A;
$dark-blue: #1C2F50;
$light-green: #72B81F;
$grey: #BCBCBC;
$light-grey: #A4ACB9;

/* transitions */

$transition: 0.3s;
