/* footer */
.footer {
  margin-top: auto;
  .title {
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
    color: $white;
    margin-bottom: 16px;
  }
  &__top {
    background-color: $grey-blue;
    padding: 50px 0 15px 0;
    @media (max-width: 768px) {
      padding-top: 25px;
    }
    .container {
      display: flex;
      justify-content: space-between;
      @media (max-width: 992px) {
        flex-direction: column;
      }
    }
  }
  &__top-left {
    width: 43%;
    @media (max-width: 992px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &__top-form {
    .form-submit {
      .title {
        margin-bottom: 7px;
      }
      &__holder {
        display: flex;
        align-items: center;
        .title {
          margin-bottom: 7px;
        }
      }
      &__box-input {
        width: 257px;
        border: none;
        margin-right: 8px;
      }
      &__box-btn {
        background: $light-green;
      }
    }
  }
  &__top-right { 
    width: 63%;
    @media (max-width: 992px) {
      width: 100%;
    }
  }
  &__top-info-page {
    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }
  &__top-info {
    display: flex;
    justify-content: space-between;
    @media (max-width: 992px) {
      justify-content: space-around;

    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__nav-list {
    margin-right: 67px;
  }
  &__nav-list-item {
    margin-bottom: 8px;
    a {
      display: block;
    }
  }
  &__top-info-contacs {
    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
    .contacts-list {
      :last-child() {
        margin-bottom: 0;
      }
      &__item {
        margin-bottom: 10px;
      }
    }
  }
  .list-time {
    &__item {
      margin-bottom: 10px;
    }
  }
  &__bottom {
    background-color: $dark-blue;
    padding: 31px 0;
    @media (max-width: 768px) {
      padding: 15px 0;
    }
  }
  &__bottom-text {
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    color: $white;
    text-align: left;
  }
}
