/*  header */
.header {
	.container {
		display: flex;
		align-items: center;
		position: relative;
		justify-content: space-between;
		@media (max-width: 768px) {
			justify-content: center;
		}
		@media (max-width: 576px) {
			flex-direction: column;
		}
	}
	&__top {
		min-height: 63px;
		background-color: #F5F7ED;
		display: flex;
	}
	&__top-logo {
		max-width: 158px;
		width: 100%;
		@media (max-width: 768px) {
			min-width: 120px;
		}
		img {
			display: block;
			width: 100%;
		}
	}
	&__top-logo-link {
		max-width: 158px;
		width: 100%;
		img {
			display: block;
			width: 100%;
		}
	}
	&__top-info {
		display: flex;
		align-items: center;
		margin-left: 74px;
		@media (max-width: 576px) {
			margin-left: 0;
		}
	}
	&__top-info-icon {
		margin-right: 17px;
		@media (max-width: 576px) {
			margin-right: 5px;
		}
	}
	&__top-info-text {
		font-size: 22px;
		line-height: 26px;
		font-weight: 700;
		color: $light-green;
		white-space: nowrap;
		margin-right: 8px;
		@media (max-width: 992px) {
			font-size: 13px;
			line-height: 17px;
		}
	}
	&__top-info-btn {
		display: block;
		position: relative;
		font-size: 12px;
		line-height: 16px;
		font-weight: 700;
		padding-right: 7px;
		min-width: 76px;
		width: 100%;
		@include clearfix;
		&::after {
			position: absolute;
			border: 5px solid transparent;
			border-left: 8px solid $grey-blue;
			left: 100%;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&__top-banner {
		position: relative;
		min-width: 176px;
		height: 63px;
		background-color: #D7D9D3;
		border-left: 1px solid $grey;
		border-top: 1px solid $grey;
		border-right: 1px solid $grey;
		margin-left: auto;
		@include alignment;
		@include clearfix;
		&::before {
			position: absolute;
			width: 90px;
			height: 1px;
			background-color: $grey;
			bottom: -5px;
			left: 0;
			transform: rotate(186deg);
		}
		&::after {
			position: absolute;
			width: 85px;
			height: 1px;
			background-color: $grey;
			bottom: -5px;
			right: 0;
			transform: rotate(-186deg);
		}
		@media (max-width: 992px) {
			display: none;
		}
	}
	.triangle {
		position: absolute; 
		height: 0; 
		width: 0;
		left: 0;
		bottom: -9px;
		border-bottom: 10px solid #D7D9D3;
		border-left: 90px solid transparent;
		border-right: 90px solid transparent;
		transform:rotate(180deg);
	}
	&__top-banner-icon {
		margin-top: 5px;
		margin-right: 5px;
	}
	&__top-banner-content {
		font-weight: 700;
		text-transform: uppercase;
		margin-left: 5px;
		.title {
			font-size: 12px;
			line-height: 16px;
			margin-top: 5px;
		}
		.subtitle {
			font-size: 24px;
			line-height: 28px;
		}
	}
	&__bottom {
		min-height: 85px;
		background-color: #E5E7DE;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: 768px) {
			padding: 10px 0;
		}
	}
	&__bottom-holder {
		display: flex;
		@media (max-width: 768px) {
			flex-direction: column;
		}
	}
	// menu
	&__bottom-menu {
		margin-right: 72px;
		@media (max-width: 992px) {
			margin-right: 10px;
		}
		@media (max-width: 768px) {
			margin-bottom: 5px;
		}
		.navbar-menu a {
			display: block;
			padding: 10px;
			background: $white;
			position: relative;
			z-index: inherit;
			background-color: $white;
		}
		.drop-btn {
			position: relative;
			background-color: $white;
			color: $grey-blue;
			border: 1px solid $grey;
			width: 124px;
			height: 33px;
			transition: 0.3s;
			font-size: 13px;
			line-height: 10px;
			font-weight: 700;
			border-radius: 4px;
			@include clearfix;
			&::after {
				position: absolute;
				border: 4px solid transparent;
				border-left: 6px solid #3B4D6A;
				left: auto;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
			}
			&:hover {
				&::after {
					transform: rotate(90deg);
				}
			}
			&:focus {
				&::after {
					transform: rotate(90deg);
				}
			}
		}
		.navbar > .navbar-menu > li > a:hover,
		.navbar > .navbar-menu > li > a:focus {
			background: $white;
			color: $grey-blue;
		}
		.navbar-menu {
			display: flex;
		}
		.navbar-menu,
		.navbar-menu ul {
			margin: 0;
			padding: 0;
		}
		.navbar-menu ul {
			position: absolute;
			left: 0;
			top: 100%;
			visibility: hidden;
			opacity: 0;
			min-width: 200px;
			box-shadow: 0 0.25rem 1.5rem hsla(200, 19%, 18%, 0.05);
			transition: 0.3s;
			z-index: 10;
			border: 1px solid $grey;
			border-radius: 4px;
		}
		.navbar-menu ul a {
			font-size: 13px;
			line-height: 17px;
			font-weight: 700;
			color: $grey-blue;
			transition: 0.3s;
			background: $white;
			z-index: 4;
		}
		.navbar-menu ul > li > ul {
			left: 100%;
			top: 0;
		}
		.navbar-menu li {
			position: relative;	
		}
		.navbar-menu li.has-children > a {
			position: relative;
		}     
		.has-children-link {
			position: relative;
			@include clearfix;
			&:hover {
				&::after {
					border-left: 6px solid $white;
					transform: rotate(90deg);
				}
			}
			&::after {
				position: absolute;
				border: 4px solid transparent;
				border-left: 6px solid #3B4D6A;
				left: auto;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.navbar-menu ul a:hover,
		.navbar-menu ul a:focus {
			background: $grey-blue;
			color: $white;
		}
		.navbar-menu li:hover > ul,
		.navbar-menu li:focus-within > ul {
			display: block;
			visibility: visible;
			opacity: 1;
			transition-delay: 0s;
		}	
	}
	// end menu
	&__bottom-form {
		margin-right: 30px;
		@media (max-width: 992px) {
				margin-right: 15px;
			}
		.form-search {
			display: flex;
			&__box {
				position: relative;
				margin-right: 15px;
				label {
					position: absolute;
					width: 20px;
					height: 20px;
					top: 50%;
					transform: translateY(-50%);
					left: 15px;
					svg {
						fill: $light-grey;
					}
				}
			} 
			&__box-input {
				min-width: 450px;
				width: 100%;
				padding-left: 46px;
				border: 1px solid #BCBCBC;
				@media (max-width: 992px) {
					min-width: 200px;
				}
			} 
			input::placeholder {
				color: #B1B8C3;
				font-size: 13px;
			}
			&__box-btn { 
				background: $dark-blue;
			} 
		}
	}
	&__bottom-list {
			display: flex;
			@media (max-width: 768px) {
					margin-top: 20px;
				}
				@media (max-width: 576px) {
					margin-top: 0;
				}
	}
	&__bottom-list-item {
		margin-right: 20px;
		@media (max-width: 992px) {
			margin-right: 10px;
		}
	}
	&__bottom-list-btn {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 60px;
		.icon svg {
			width: 28px;
			height: 28px;
		}
		.text {
			font-size: 8px;
			line-height: 12px;
			font-weight: 700;
			color: $dark-blue;
			position: absolute;
			bottom: 0;
		}
	}
}