<footer class="footer" id="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__top-left">
                <div class="footer__top-form">
                    <form type="submit" class="form-submit">
                        <h3 class="title">Sign up for our newsletter</h3>
                        <div class="form-submit__holder">
                            <div class="form-submit__box">
                                <label for="sub"></label>
                                <input class="form-submit__box-input input-stl" type="text" id="sub">
                            </div>
                            <button class="form-submit__box-btn btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer__top-right">
                <div class="footer__top-info">
                    <div class="footer__top-info-page">
                        <h3 class="title">Learn</h3>
                        <nav class="footer__nav">
                            <ul class="footer__nav-list">
                                <li class="footer__nav-list-item">
                                    <a href="#" class="text">About Us</a>
                                </li>
                                <li class="footer__nav-list-item">
                                    <a href="#" class="text">Policies</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__top-info-contacs">
                        <h3 class="title">Contact Information</h3>
                        <address>
                            <ul class="contacts-list text">
                                <li class="contacts-list__item">
                                    <span>Toll-Free:</span>
                                    <a href="tel: 123-456-7890">123-456-7890</a>
                                </li>
                                <li class="contacts-list__item">
                                    <span>Intl.:</span>
                                    <a href="#">123-456-7890</a>
                                </li>
                                <li class="contacts-list__item">
                                    <span>Fax:</span>
                                    <a href="#">123-456-7890</a>
                                </li>
                                <li class="contacts-list__item">
                                    <span>Email:</span>
                                    <a href="mailto: email@xxx.com">email@xxx.com</a>
                                </li>
                            </ul> 
                        </address>
                    </div>
                    <div class="footer__top-info-time">
                        <h3 class="title">Hours of Operation</h3>
                        <ul class="list-time text">
                            <li class="list-time__item">
                                <span>7AM - 8PM CST Mon - Fri</span>
                            </li>
                            <li class="list-time__item">
                                <span>9AM - 5PM CST Sat - Sun</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <p class="footer__bottom-text">
                &copy; copyright shoptics 2004-2013
            </p>
        </div>
    </div>
</footer>
