<header class="header" id="header">
    <div class="header__top">
        <div class="container">
            <strong class="header__top-logo">
                <a href="index.html" class="header__top-logo-link">
                    <img src="./assets/images/logo.png" alt="img desc">
                </a>
            </strong>
            <div class="header__top-info">
                <div class="header__top-info-icon">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1409_151)">
                        <path d="M12.9913 26C12.9057 26 12.8191 25.9794 12.7411 25.9382L0.291409 19.4382C0.112659 19.3451 -7.62939e-06 19.1598 -7.62939e-06 18.9583V6.7708C-7.62939e-06 6.58339 0.0974924 6.40897 0.256742 6.31039C0.415992 6.2118 0.616409 6.20314 0.783242 6.28655L13.2329 12.5157C13.416 12.6078 13.5319 12.7952 13.5319 13V25.4583C13.5319 25.6479 13.4333 25.8234 13.2708 25.922C13.1863 25.974 13.0888 26 12.9913 26ZM1.08333 18.6301L12.4497 24.5646V13.3347L1.08333 7.64722V18.6301Z" fill="#1C2F50"/>
                        <path d="M13.0087 26C12.9112 26 12.8137 25.974 12.7281 25.922C12.5667 25.8234 12.467 25.6479 12.467 25.4583V13C12.467 12.7952 12.5829 12.6078 12.766 12.5157L25.2157 6.28657C25.3814 6.20207 25.5829 6.21073 25.7422 6.3104C25.9025 6.40898 26 6.5834 26 6.77082V18.9583C26 19.1598 25.8873 19.3451 25.7086 19.4382L13.2589 25.9383C13.1809 25.9794 13.0942 26 13.0087 26V26ZM13.5503 13.3347V24.5646L24.9167 18.6301V7.64723L13.5503 13.3347ZM25.4583 18.9583H25.4692H25.4583Z" fill="#1C2F50"/>
                        <mask id="path-3-inside-1_1409_151" fill="white">
                        <path d="M0.541354 7.31263C0.342021 7.31263 0.151354 7.20321 0.0560211 7.01363C-0.0783122 6.74605 0.0311044 6.42105 0.298688 6.28671L12.7657 0.0575464C12.9184 -0.0182869 13.0983 -0.0182869 13.2499 0.0575464L25.6996 6.28671C25.9672 6.42105 26.0755 6.74605 25.9423 7.01363C25.8079 7.28121 25.484 7.38846 25.2154 7.2563L13.0084 1.14738L0.784021 7.25521C0.706021 7.29421 0.623688 7.31263 0.541354 7.31263V7.31263Z"/>
                        </mask>
                        <path d="M0.541354 7.31263C0.342021 7.31263 0.151354 7.20321 0.0560211 7.01363C-0.0783122 6.74605 0.0311044 6.42105 0.298688 6.28671L12.7657 0.0575464C12.9184 -0.0182869 13.0983 -0.0182869 13.2499 0.0575464L25.6996 6.28671C25.9672 6.42105 26.0755 6.74605 25.9423 7.01363C25.8079 7.28121 25.484 7.38846 25.2154 7.2563L13.0084 1.14738L0.784021 7.25521C0.706021 7.29421 0.623688 7.31263 0.541354 7.31263V7.31263Z" fill="#1C2F50"/>
                        <path d="M0.0560211 7.01363L-7.0936 10.6029L-7.09121 10.6077L0.0560211 7.01363ZM0.298688 6.28671L-3.27703 -0.869699L-3.28382 -0.866309L-3.29059 -0.862906L0.298688 6.28671ZM12.7657 0.0575464L9.20832 -7.10801L9.19914 -7.10345L9.18997 -7.09887L12.7657 0.0575464ZM13.2499 0.0575464L16.8296 -7.09688L16.8276 -7.09787L13.2499 0.0575464ZM25.6996 6.28671L29.2889 -0.862912L29.2793 -0.867708L25.6996 6.28671ZM25.9423 7.01363L33.0919 10.6029L33.0977 10.5913L33.1035 10.5797L25.9423 7.01363ZM25.2154 7.2563L21.6351 14.4104L21.6595 14.4227L21.684 14.4347L25.2154 7.2563ZM13.0084 1.14738L16.5886 -6.00677L13.0112 -7.79705L9.43268 -6.00905L13.0084 1.14738ZM0.784021 7.25521L-2.79166 0.0987807L-2.79369 0.0997956L0.784021 7.25521ZM0.541354 -0.68737C3.25259 -0.68737 5.89017 0.808361 7.20325 3.41959L-7.09121 10.6077C-5.58747 13.5981 -2.56855 15.3126 0.541354 15.3126V-0.68737ZM7.20564 3.42435C9.0729 7.1438 7.53049 11.6077 3.88797 13.4363L-3.29059 -0.862906C-7.46828 1.23439 -9.22952 6.34829 -7.0936 10.6029L7.20564 3.42435ZM3.87441 13.4431L16.3414 7.21396L9.18997 -7.09887L-3.27703 -0.869699L3.87441 13.4431ZM16.3231 7.2231C14.2427 8.25588 11.7807 8.26722 9.67223 7.21296L16.8276 -7.09787C14.4158 -8.3038 11.5941 -8.29245 9.20832 -7.10801L16.3231 7.2231ZM9.67024 7.21197L22.1199 13.4411L29.2793 -0.867708L16.8296 -7.09687L9.67024 7.21197ZM22.1103 13.4363C18.4425 11.595 16.9472 7.13008 18.7811 3.44752L33.1035 10.5797C35.2038 6.36201 33.4919 1.2471 29.2889 -0.862906L22.1103 13.4363ZM18.7927 3.42435C20.6477 -0.270829 25.1104 -1.71093 28.7467 0.0778726L21.684 14.4347C25.8576 16.4879 30.9682 14.8333 33.0919 10.6029L18.7927 3.42435ZM28.7956 0.102149L16.5886 -6.00677L9.42811 8.30153L21.6351 14.4104L28.7956 0.102149ZM9.43268 -6.00905L-2.79166 0.098781L4.3597 14.4116L16.584 8.30381L9.43268 -6.00905ZM-2.79369 0.0997956C-1.73557 -0.429261 -0.589709 -0.68737 0.541354 -0.68737V15.3126C1.83708 15.3126 3.14762 15.0177 4.36173 14.4106L-2.79369 0.0997956Z" fill="#1C2F50" mask="url(#path-3-inside-1_1409_151)"/>
                        <path d="M19.5 16.25C19.201 16.25 18.9584 16.0073 18.9584 15.7083V10.0848L6.80771 4.0051C6.54013 3.87185 6.43179 3.54576 6.56613 3.27818C6.70046 3.0106 7.02546 2.90335 7.29304 3.03551L19.7427 9.26468C19.9258 9.35785 20.0417 9.54526 20.0417 9.75001V15.7083C20.0417 16.0073 19.799 16.25 19.5 16.25V16.25Z" fill="#1C2F50"/>
                        </g><defs><clipPath id="clip0_1409_151"><rect width="26" height="26" fill="white"/></clipPath></defs>
                    </svg>   
                </div>
                <p class="header__top-info-text">Free shipping on orders over $29.99</p>
                <a href="#" class="header__top-info-btn">Learn more</a>
            </div>
            <div class="header__top-banner">
                <div class="header__top-banner-icon">
                    <img src="./assets/images/stiker.svg" alt="img desc">
                </div>
                <div class="header__top-banner-content">
                    <p class="title">All New</p>
                    <p class="subtitle">DEALS</p>
                </div>
                <span class="triangle"></span>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__bottom-holder">
                <div class="header__bottom-menu">
                    <nav class="navbar">
                        <ul class="navbar-menu">
                            <li class="has-children">
                                <a href="#!" class="drop-btn">Shop for</a>
                                <ul aria-label="submenu">
                                    <li class="has-children">
                                        <a href="#" class="has-children-link">Sports</a>
                                        <ul aria-label="submenu">
                                            <li><a href="#">Outdoors</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"class="has-children-link">Cameras</a>
                                        <ul aria-label="submenu">
                                            <li><a href="#">Photo</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" class="has-children-link">Jewelry</a>
                                        <ul aria-label="submenu">
                                            <li><a href="#">Watches</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" class="has-children-link">Industrial</a>
                                        <ul aria-label="submenu">
                                            <li><a href="#">Scientific</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Electronics</a></li>
                                    <li><a href="#" class="has-children-link">Tools</a>
                                        <ul aria-label="submenu">
                                            <li><a href="#">Home Improvement</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" class="has-children-link">Clothing, Shoes </a>
                                        <ul aria-label="submenu">
                                            <li><a href="#">Accessories</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" class="has-children-link">Everything</a>
                                        <ul aria-label="submenu">
                                            <li><a href="#">Else</a></li>
                                        </ul>
                                    </li>
                                </ul>    
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header__bottom-form">
                    <form type="form-search" class="form-search">
                        <div class="form-search__box">
                            <label for="req">
                                <svg viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_1409_151)">
                                    <path d="M12.9913 26C12.9057 26 12.8191 25.9794 12.7411 25.9382L0.291409 19.4382C0.112659 19.3451 -7.62939e-06 19.1598 -7.62939e-06 18.9583V6.7708C-7.62939e-06 6.58339 0.0974924 6.40897 0.256742 6.31039C0.415992 6.2118 0.616409 6.20314 0.783242 6.28655L13.2329 12.5157C13.416 12.6078 13.5319 12.7952 13.5319 13V25.4583C13.5319 25.6479 13.4333 25.8234 13.2708 25.922C13.1863 25.974 13.0888 26 12.9913 26ZM1.08333 18.6301L12.4497 24.5646V13.3347L1.08333 7.64722V18.6301Z"/>
                                    <path d="M13.0087 26C12.9112 26 12.8137 25.974 12.7281 25.922C12.5667 25.8234 12.467 25.6479 12.467 25.4583V13C12.467 12.7952 12.5829 12.6078 12.766 12.5157L25.2157 6.28657C25.3814 6.20207 25.5829 6.21073 25.7422 6.3104C25.9025 6.40898 26 6.5834 26 6.77082V18.9583C26 19.1598 25.8873 19.3451 25.7086 19.4382L13.2589 25.9383C13.1809 25.9794 13.0942 26 13.0087 26V26ZM13.5503 13.3347V24.5646L24.9167 18.6301V7.64723L13.5503 13.3347ZM25.4583 18.9583H25.4692H25.4583Z"/>
                                    <mask id="path-3-inside-1_1409_151" fill="white">
                                    <path d="M0.541354 7.31263C0.342021 7.31263 0.151354 7.20321 0.0560211 7.01363C-0.0783122 6.74605 0.0311044 6.42105 0.298688 6.28671L12.7657 0.0575464C12.9184 -0.0182869 13.0983 -0.0182869 13.2499 0.0575464L25.6996 6.28671C25.9672 6.42105 26.0755 6.74605 25.9423 7.01363C25.8079 7.28121 25.484 7.38846 25.2154 7.2563L13.0084 1.14738L0.784021 7.25521C0.706021 7.29421 0.623688 7.31263 0.541354 7.31263V7.31263Z"/>
                                    </mask>
                                    <path d="M0.541354 7.31263C0.342021 7.31263 0.151354 7.20321 0.0560211 7.01363C-0.0783122 6.74605 0.0311044 6.42105 0.298688 6.28671L12.7657 0.0575464C12.9184 -0.0182869 13.0983 -0.0182869 13.2499 0.0575464L25.6996 6.28671C25.9672 6.42105 26.0755 6.74605 25.9423 7.01363C25.8079 7.28121 25.484 7.38846 25.2154 7.2563L13.0084 1.14738L0.784021 7.25521C0.706021 7.29421 0.623688 7.31263 0.541354 7.31263V7.31263Z"/>
                                    <path d="M0.0560211 7.01363L-7.0936 10.6029L-7.09121 10.6077L0.0560211 7.01363ZM0.298688 6.28671L-3.27703 -0.869699L-3.28382 -0.866309L-3.29059 -0.862906L0.298688 6.28671ZM12.7657 0.0575464L9.20832 -7.10801L9.19914 -7.10345L9.18997 -7.09887L12.7657 0.0575464ZM13.2499 0.0575464L16.8296 -7.09688L16.8276 -7.09787L13.2499 0.0575464ZM25.6996 6.28671L29.2889 -0.862912L29.2793 -0.867708L25.6996 6.28671ZM25.9423 7.01363L33.0919 10.6029L33.0977 10.5913L33.1035 10.5797L25.9423 7.01363ZM25.2154 7.2563L21.6351 14.4104L21.6595 14.4227L21.684 14.4347L25.2154 7.2563ZM13.0084 1.14738L16.5886 -6.00677L13.0112 -7.79705L9.43268 -6.00905L13.0084 1.14738ZM0.784021 7.25521L-2.79166 0.0987807L-2.79369 0.0997956L0.784021 7.25521ZM0.541354 -0.68737C3.25259 -0.68737 5.89017 0.808361 7.20325 3.41959L-7.09121 10.6077C-5.58747 13.5981 -2.56855 15.3126 0.541354 15.3126V-0.68737ZM7.20564 3.42435C9.0729 7.1438 7.53049 11.6077 3.88797 13.4363L-3.29059 -0.862906C-7.46828 1.23439 -9.22952 6.34829 -7.0936 10.6029L7.20564 3.42435ZM3.87441 13.4431L16.3414 7.21396L9.18997 -7.09887L-3.27703 -0.869699L3.87441 13.4431ZM16.3231 7.2231C14.2427 8.25588 11.7807 8.26722 9.67223 7.21296L16.8276 -7.09787C14.4158 -8.3038 11.5941 -8.29245 9.20832 -7.10801L16.3231 7.2231ZM9.67024 7.21197L22.1199 13.4411L29.2793 -0.867708L16.8296 -7.09687L9.67024 7.21197ZM22.1103 13.4363C18.4425 11.595 16.9472 7.13008 18.7811 3.44752L33.1035 10.5797C35.2038 6.36201 33.4919 1.2471 29.2889 -0.862906L22.1103 13.4363ZM18.7927 3.42435C20.6477 -0.270829 25.1104 -1.71093 28.7467 0.0778726L21.684 14.4347C25.8576 16.4879 30.9682 14.8333 33.0919 10.6029L18.7927 3.42435ZM28.7956 0.102149L16.5886 -6.00677L9.42811 8.30153L21.6351 14.4104L28.7956 0.102149ZM9.43268 -6.00905L-2.79166 0.098781L4.3597 14.4116L16.584 8.30381L9.43268 -6.00905ZM-2.79369 0.0997956C-1.73557 -0.429261 -0.589709 -0.68737 0.541354 -0.68737V15.3126C1.83708 15.3126 3.14762 15.0177 4.36173 14.4106L-2.79369 0.0997956Z" mask="url(#path-3-inside-1_1409_151)"/>
                                    <path d="M19.5 16.25C19.201 16.25 18.9584 16.0073 18.9584 15.7083V10.0848L6.80771 4.0051C6.54013 3.87185 6.43179 3.54576 6.56613 3.27818C6.70046 3.0106 7.02546 2.90335 7.29304 3.03551L19.7427 9.26468C19.9258 9.35785 20.0417 9.54526 20.0417 9.75001V15.7083C20.0417 16.0073 19.799 16.25 19.5 16.25V16.25Z"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_1409_151">
                                    <rect width="26" height="26" fill="white"/>
                                    </clipPath>
                                    </defs>
                                    </svg>
                            </label>
                            <input class="form-search__box-input input-stl" type="text"  placeholder="Click to search" id="req">
                        </div>
                        <button type="submit" class="form-search__box-btn btn">Submit</button>
                    </form>
                </div>
            </div>
            <ul class="header__bottom-list">
                <li class="header__bottom-list-item">
                    <a href="#" class="header__bottom-list-btn">
                        <span class="icon">
                            <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M25.8125 24.7188C25.8125 25.3228 25.3228 25.8125 24.7188 25.8125H23.625V26.9062C23.625 27.5103 23.1353 28 22.5312 28C21.9272 28 21.4375 27.5103 21.4375 26.9062V25.8125H20.3438C19.7397 25.8125 19.25 25.3228 19.25 24.7188C19.25 24.1147 19.7397 23.625 20.3438 23.625H21.4375V22.5312C21.4375 21.9272 21.9272 21.4375 22.5312 21.4375C23.1353 21.4375 23.625 21.9272 23.625 22.5312V23.625H24.7188C25.3228 23.625 25.8125 24.1147 25.8125 24.7188ZM25.8125 7.65625V18.1562C25.8125 18.7603 25.3228 19.25 24.7188 19.25C24.1147 19.25 23.625 18.7603 23.625 18.1562V8.75H21.4375V12.0312C21.4375 12.6353 20.9478 13.125 20.3438 13.125C19.7397 13.125 19.25 12.6353 19.25 12.0312V8.75H8.75V12.0312C8.75 12.6353 8.26033 13.125 7.65625 13.125C7.05217 13.125 6.5625 12.6353 6.5625 12.0312V8.75H4.375V25.8125H15.9688C16.5728 25.8125 17.0625 26.3022 17.0625 26.9062C17.0625 27.5103 16.5728 28 15.9688 28H3.28125C2.67717 28 2.1875 27.5103 2.1875 26.9062V7.65625C2.1875 7.05217 2.67717 6.5625 3.28125 6.5625H6.61423C7.04873 2.87235 10.195 0 14 0C17.805 0 20.9513 2.87235 21.3858 6.5625H24.7188C25.3228 6.5625 25.8125 7.05217 25.8125 7.65625ZM19.1767 6.5625C18.7589 4.0827 16.5967 2.1875 14 2.1875C11.4033 2.1875 9.24115 4.0827 8.82334 6.5625H19.1767Z" fill="#1C2F50"/>
                            </svg>
                        </span>
                        <span class="text">Your cart</span>
                    </a> 
                </li>
                <li class="header__bottom-list-item">
                    <a href="#" class="header__bottom-list-btn">
                        <span class="icon">
                            <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14 0C6.26257 0 0 6.26151 0 14C0 16.4556 0.640442 18.8539 1.8566 20.9692L0.0527649 26.5709C-0.0730591 26.9614 0.0303345 27.3895 0.320435 27.6796C0.607758 27.9669 1.03479 28.0741 1.42914 27.9472L7.03076 26.1434C9.14606 27.3596 11.5444 28 14 28C21.7374 28 28 21.7385 28 14C28 6.26257 21.7385 0 14 0ZM14 25.8125C11.782 25.8125 9.61987 25.1936 7.74747 24.0228C7.47809 23.8544 7.14355 23.8089 6.83231 23.9091L2.78864 25.2114L4.09088 21.1677C4.18958 20.8609 4.14792 20.526 3.97702 20.2525C2.80637 18.3801 2.1875 16.218 2.1875 14C2.1875 7.48663 7.48663 2.1875 14 2.1875C20.5134 2.1875 25.8125 7.48663 25.8125 14C25.8125 20.5134 20.5134 25.8125 14 25.8125ZM15.3672 14C15.3672 14.7549 14.7552 15.3672 14 15.3672C13.2448 15.3672 12.6328 14.7549 12.6328 14C12.6328 13.2448 13.2448 12.6328 14 12.6328C14.7552 12.6328 15.3672 13.2448 15.3672 14ZM20.8359 14C20.8359 14.7549 20.2239 15.3672 19.4688 15.3672C18.7136 15.3672 18.1016 14.7549 18.1016 14C18.1016 13.2448 18.7136 12.6328 19.4688 12.6328C20.2239 12.6328 20.8359 13.2448 20.8359 14ZM9.89844 14C9.89844 14.7549 9.28641 15.3672 8.53125 15.3672C7.77631 15.3672 7.16406 14.7549 7.16406 14C7.16406 13.2448 7.77631 12.6328 8.53125 12.6328C9.28641 12.6328 9.89844 13.2448 9.89844 14Z" fill="#1C2F50"/>
                            </svg>
                        </span>
                        <span class="text">Live chat</span>   
                    </a>
                </li>
                <li class="header__bottom-list-item">
                    <a href="#" class="header__bottom-list-btn">
                        <span class="icon">
                            <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1407_131)">
                                <path d="M23.9416 3.66795C21.5761 1.30248 18.431 -0.000132302 15.0858 1.00786e-08C14.5377 1.00786e-08 14.0935 0.444304 14.0935 0.99234C14.0935 1.54038 14.5378 1.98468 15.0858 1.98468C17.9009 1.98455 20.5476 3.08075 22.5382 5.07139C24.529 7.06202 25.6252 9.70879 25.625 12.524C25.625 13.072 26.0692 13.5163 26.6174 13.5163C27.1654 13.5163 27.6097 13.072 27.6097 12.5241C27.6098 9.17862 26.3072 6.03343 23.9416 3.66795Z" fill="#1C2F50"/>
                                <path d="M19.8595 12.5241C19.8595 13.0721 20.3038 13.5164 20.852 13.5163C21.4 13.5163 21.8442 13.072 21.8442 12.524C21.8439 8.79806 18.8121 5.7664 15.086 5.76587C15.0858 5.76587 15.086 5.76587 15.0858 5.76587C14.5378 5.76587 14.0936 6.21004 14.0935 6.75808C14.0935 7.30611 14.5377 7.75042 15.0857 7.75055C17.7178 7.75095 19.8593 9.89228 19.8595 12.5241Z" fill="#1C2F50"/>
                                <path d="M17.6637 17.5837C16.1511 17.5054 15.3805 18.6303 15.0109 19.1707C14.7015 19.6231 14.8174 20.2406 15.2697 20.55C15.7221 20.8595 16.3396 20.7436 16.6491 20.2912C17.0857 19.6528 17.2835 19.5524 17.5519 19.5651C18.4107 19.6661 21.7933 22.1448 22.132 22.9199C22.2169 23.1481 22.2137 23.3719 22.1226 23.644C21.7675 24.698 21.1796 25.4387 20.4222 25.7859C19.7027 26.1157 18.8206 26.0858 17.8718 25.6998C14.3289 24.2557 11.2336 22.2405 8.672 19.7099C8.67095 19.7088 8.66989 19.7079 8.66896 19.7068C6.14365 17.1478 4.13211 14.0564 2.69044 10.5189C2.30422 9.56934 2.27432 8.68709 2.60417 7.96771C2.95136 7.21035 3.69204 6.62249 4.74512 6.26776C5.01821 6.1762 5.24155 6.17329 5.46767 6.25744C6.24553 6.59735 8.72414 9.97978 8.82416 10.829C8.83845 11.1073 8.73723 11.305 8.09936 11.7408C7.64685 12.0499 7.53055 12.6674 7.83976 13.1199C8.14884 13.5724 8.76621 13.6886 9.21885 13.3795C9.75948 13.0104 10.8841 12.2419 10.8061 10.7242C10.7201 9.1388 7.63613 4.94041 6.16257 4.39859C5.50723 4.15435 4.81789 4.15011 4.11293 4.38669C2.52677 4.92083 1.38121 5.87321 0.8001 7.14076C0.236451 8.37047 0.254313 9.79718 0.852364 11.2674C2.39525 15.0531 4.55392 18.3656 7.26831 21.113C7.27492 21.1198 7.28167 21.1264 7.28855 21.1329C10.034 23.8422 13.3426 25.9969 17.1233 27.538C17.8804 27.8459 18.626 28 19.339 28C20.0104 28 20.6531 27.8635 21.2493 27.5901C22.517 27.0091 23.4693 25.8637 24.0038 24.2765C24.2398 23.5728 24.236 22.8838 23.9936 22.2315C23.4499 20.7539 19.2515 17.67 17.6637 17.5837Z" fill="#1C2F50"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1407_131">
                                <rect width="28" height="28" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </span>
                        <span class="text">Contacts</span>    
                    </a>
                </li>
            </ul>
        </div> 
    </div>
</header>
