<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <!-- og format -->
    <meta property="og:title" content="" />
    <!-- bar color -->
    <meta name="theme-color" content="#fff" />
    <meta name="msapplication-navbutton-color" content="#fff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff" />
    <!-- favicon -->
    <!--<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">-->
    <!--<link rel="apple-touch-icon" href="assets/images/apple-touch-icon152.png" sizes="152x152">-->
    <title>Home</title>
  </head>

  <body>
    <div class="wrapper" id="wrapper">
      <%= _.template(require('./parts/header.html'))() %>
      <main class="app" id="app">
        <section class="slider">
          <div class="slider__block">
              <h2 class="slider__subtitle">Get The Best </h2>
              <h1 class="slider__title">Performance <br> sunglasses</h1>
              <a href="#" class="slider__link">Shop Now</a>
          </div>
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="./assets/images/slides-image.jpg" alt="img desc">
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/slides-image.jpg" alt="img desc">
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/slides-image.jpg" alt="img desc">
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/slides-image.jpg" alt="img desc">
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/slides-image.jpg" alt="img desc">
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/slides-image.jpg" alt="img desc">
              </div>
            </div>
            <div class="slider__box">
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </section>
        <section class="shop">
          <div class="shop__holder">
            <div class="container">
              <aside class="shop__aside">
                <div class="shop__aside-box">
                  <h3 class="shop__aside-title">Shop by Category</h3>
                  <ul class="shop__aside-list">
                    <li class="shop__aside-list-item">
                      <a href="#" class="aside-list-link">Men</a>
                    </li>
                    <li class="shop__aside-list-item">
                      <a href="#" class="aside-list-link">Women</a>
                    </li>
                    <li class="shop__aside-list-item">
                      <a href="#" class="aside-list-link">Riflescopes</a>
                    </li>
                    <li class="shop__aside-list-item">
                      <a href="#" class="aside-list-link">Other popular stuff</a>
                    </li>
                  </ul>
                </div>
                <div class="shop__aside-box">
                  <h3 class="shop__aside-title">Shop by Brand</h3>
                  <ul class="shop__aside-list">
                    <li class="shop__aside-list-item">
                      <a href="#" class="aside-list-link">Barska</a>
                    </li>
                    <li class="shop__aside-list-item">
                      <a href="#" class="aside-list-link">TRIJICON</a>
                    </li>
                    <li class="shop__aside-list-item">
                      <a href="#" class="aside-list-link">Safariland</a>
                    </li>
                    <li class="shop__aside-list-item">
                      <a href="#" class="aside-list-link">Bushnell stuff</a>
                    </li>
                  </ul>
                </div>
                <div class="shop__aside-box m-b-40">
                  <h3 class="shop__aside-title">Shop by Department</h3>
                  <ul class="shop__aside-list">
                    <li class="shop__aside-list-item">
                      <a href="#" class="aside-list-link">Sports & Outdoors</a>
                    </li>
                    <li class="shop__aside-list-item">
                      <a href="#" class="aside-list-link">Electronics</a>
                    </li>
                    <li class="shop__aside-list-item">
                      <a href="#" class="aside-list-link">Jewelry & Watches</a>
                    </li>
                    <li class="shop__aside-list-item">
                      <a href="#" class="aside-list-link">Industrial & Scientific stuff</a>
                    </li>
                  </ul>
                </div>
                <div class="shop__aside-banner">
                  <img src="./assets/images/rectangle.png" alt="img desc">
                </div>
              </aside>
              <div class="shop__main">
                <ul class="shop__main-list">
                  <li class="shop__main-list-item">
                    <a href="#" class="list-item-btn active">New Items</a>
                  </li>
                  <li class="shop__main-list-item">
                    <a href="#" class="list-item-btn">Popular Items</a>
                  </li>
                  <li class="shop__main-list-item">
                    <a href="#" class="list-item-btn">Top Rated</a>
                  </li>
                </ul>
                <ul class="shop__main-card">
                  <li class="shop__main-card-item">
                    <a href="#" class="item-link">
                      <div class="item-img">
                        <img src="./assets/images/image-card.png" alt="img desc">
                      </div>
                      <h3 class="item-title">SOG Specialty Knives & Tools Voodoo Hawk TomahawkSOG Specialty Knives & Tools Voodoo Hawk Tomahawk</h3>
                      <p class="item-price">$9.99</p>
                      <p class="item-text">New Product</p>
                    </a>
                  </li>
                  <li class="shop__main-card-item">
                    <a href="#" class="item-link">
                      <div class="item-img">
                        <img src="./assets/images/image-card.png" alt="img desc">
                      </div>
                      <h3 class="item-title">SOG Specialty Knives & Tools Voodoo Hawk TomahawkSOG Specialty Knives & Tools Voodoo Hawk Tomahawk</h3>
                      <p class="item-price">$9.99</p>
                      <p class="item-text">New Product</p>
                    </a>
                  </li>
                  <li class="shop__main-card-item">
                    <a href="#" class="item-link">
                      <div class="item-img">
                        <img src="./assets/images/image-card.png" alt="img desc">
                      </div>
                      <h3 class="item-title">SOG Specialty Knives & Tools Voodoo Hawk TomahawkSOG Specialty Knives & Tools Voodoo Hawk Tomahawk</h3>
                      <p class="item-price">$9.99</p>
                      <p class="item-text">New Product</p>
                    </a>
                  </li>
                  <li class="shop__main-card-item">
                    <a href="#" class="item-link">
                      <div class="item-img">
                        <img src="./assets/images/image-card.png" alt="img desc">
                      </div>
                      <h3 class="item-title">SOG Specialty Knives & Tools Voodoo Hawk TomahawkSOG Specialty Knives & Tools Voodoo Hawk Tomahawk</h3>
                      <p class="item-price">$9.99</p>
                      <p class="item-text">New Product</p>
                    </a>
                  </li>
                  <li class="shop__main-card-item">
                    <a href="#" class="item-link">
                      <div class="item-img">
                        <img src="./assets/images/image-card.png" alt="img desc">
                      </div>
                      <h3 class="item-title">SOG Specialty Knives & Tools Voodoo Hawk TomahawkSOG Specialty Knives & Tools Voodoo Hawk Tomahawk</h3>
                      <p class="item-price">$9.99</p>
                      <p class="item-text">New Product</p>
                    </a>
                  </li>
                  <li class="shop__main-card-item">
                    <a href="#" class="item-link">
                      <div class="item-img">
                        <img src="./assets/images/image-card.png" alt="img desc">
                      </div>
                      <h3 class="item-title">SOG Specialty Knives & Tools Voodoo Hawk TomahawkSOG Specialty Knives & Tools Voodoo Hawk Tomahawk</h3>
                      <p class="item-price">$9.99</p>
                      <p class="item-text">New Product</p>
                    </a>
                  </li>
                  <li class="shop__main-card-item">
                    <a href="#" class="item-link">
                      <div class="item-img">
                        <img src="./assets/images/image-card.png" alt="img desc">
                      </div>
                      <h3 class="item-title">SOG Specialty Knives & Tools Voodoo Hawk TomahawkSOG Specialty Knives & Tools Voodoo Hawk Tomahawk</h3>
                      <p class="item-price">$9.99</p>
                      <p class="item-text">New Product</p>
                    </a>
                  </li>
                  <li class="shop__main-card-item">
                    <a href="#" class="item-link">
                      <div class="item-img">
                        <img src="./assets/images/image-card.png" alt="img desc">
                      </div>
                      <h3 class="item-title">SOG Specialty Knives & Tools Voodoo Hawk TomahawkSOG Specialty Knives & Tools Voodoo Hawk Tomahawk</h3>
                      <p class="item-price">$9.99</p>
                      <p class="item-text">New Product</p>
                    </a>
                  </li>
                  <li class="shop__main-card-item">
                    <a href="#" class="item-link">
                      <div class="item-img">
                        <img src="./assets/images/image-card.png" alt="img desc">
                      </div>
                      <h3 class="item-title">SOG Specialty Knives & Tools Voodoo Hawk TomahawkSOG Specialty Knives & Tools Voodoo Hawk Tomahawk</h3>
                      <p class="item-price">$9.99</p>
                      <p class="item-text">New Product</p>
                    </a>
                  </li>
                  <li class="shop__main-card-item">
                    <a href="#" class="item-link">
                      <div class="item-img">
                        <img src="./assets/images/image-card.png" alt="img desc">
                      </div>
                      <h3 class="item-title">SOG Specialty Knives & Tools Voodoo Hawk TomahawkSOG Specialty Knives & Tools Voodoo Hawk Tomahawk</h3>
                      <p class="item-price">$9.99</p>
                      <p class="item-text">New Product</p>
                    </a>
                  </li>
                  <li class="shop__main-card-item">
                    <a href="#" class="item-link">
                      <div class="item-img">
                        <img src="./assets/images/image-card.png" alt="img desc">
                      </div>
                      <h3 class="item-title">SOG Specialty Knives & Tools Voodoo Hawk TomahawkSOG Specialty Knives & Tools Voodoo Hawk Tomahawk</h3>
                      <p class="item-price">$9.99</p>
                      <p class="item-text">New Product</p>
                    </a>
                  </li>
                  <li class="shop__main-card-item">
                    <a href="#" class="item-link">
                      <div class="item-img">
                        <img src="./assets/images/image-card.png" alt="img desc">
                      </div>
                      <h3 class="item-title">SOG Specialty Knives & Tools Voodoo Hawk TomahawkSOG Specialty Knives & Tools Voodoo Hawk Tomahawk</h3>
                      <p class="item-price">$9.99</p>
                      <p class="item-text">New Product</p>
                    </a>
                  </li>
                  <li class="shop__main-card-item">
                    <a href="#" class="item-link">
                      <div class="item-img">
                        <img src="./assets/images/image-card.png" alt="img desc">
                      </div>
                      <h3 class="item-title">SOG Specialty Knives & Tools Voodoo Hawk TomahawkSOG Specialty Knives & Tools Voodoo Hawk Tomahawk</h3>
                      <p class="item-price">$9.99</p>
                      <p class="item-text">New Product</p>
                    </a>
                  </li>
                  <li class="shop__main-card-item">
                    <a href="#" class="item-link">
                      <div class="item-img">
                        <img src="./assets/images/image-card.png" alt="img desc">
                      </div>
                      <h3 class="item-title">SOG Specialty Knives & Tools Voodoo Hawk TomahawkSOG Specialty Knives & Tools Voodoo Hawk Tomahawk</h3>
                      <p class="item-price">$9.99</p>
                      <p class="item-text">New Product</p>
                    </a>
                  </li>
                  <li class="shop__main-card-item">
                    <a href="#" class="item-link">
                      <div class="item-img">
                        <img src="./assets/images/image-card.png" alt="img desc">
                      </div>
                      <h3 class="item-title">SOG Specialty Knives & Tools Voodoo Hawk TomahawkSOG Specialty Knives & Tools Voodoo Hawk Tomahawk</h3>
                      <p class="item-price">$9.99</p>
                      <p class="item-text">New Product</p>
                    </a>
                  </li>
                  <li class="shop__main-card-item">
                    <a href="#" class="item-link">
                      <div class="item-img">
                        <img src="./assets/images/image-card.png" alt="img desc">
                      </div>
                      <h3 class="item-title">SOG Specialty Knives & Tools Voodoo Hawk TomahawkSOG Specialty Knives & Tools Voodoo Hawk Tomahawk</h3>
                      <p class="item-price">$9.99</p>
                      <p class="item-text">New Product</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
    </main>
      <%= _.template(require('./parts/footer.html'))() %>
    </div>
  </body>
</html>
